{% load static %}

<!-- Sidebar -->
<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="/webmaster/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-database"></i>
      <span>Database</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">User Accounts:</h6>
      <a class="dropdown-item" href="">Users</a>
      <a class="dropdown-item" href="">Organizations</a>
      <a class="dropdown-item" href="">Roles</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Contents:</h6>
      <a class="dropdown-item" href="">Posts</a>
      <a class="dropdown-item" href="">Base Comments</a>
      <a class="dropdown-item" href="">Replies</a>
      <a class="dropdown-item" href="">Categories</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Charts</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Tables</span></a>
  </li>
</ul>
