{% load static %}

<div class="col-12 my-auto">
  <div class="card">
    <div class="card-body">
      <h3>Recently Added Pages</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>User Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="usr-tbl">
          <tr>
            <td>Kyle Aquino</td>
            <td>kshaunaquino@gmail.com</td>
            <td>Webmaster</td>
            <td>
              <a class="btn btn-primary" href="#"> Edit </a>
              <a class="btn btn-primary" href="#"> Delete </a>
            </td>
          </tr>
          <tr>
            <td>Kyle Aquino</td>
            <td>kshaunaquino@gmail.com</td>
            <td>Webmaster</td>
            <td>
              <a class="btn btn-primary" href="#"> Edit </a>
              <a class="btn btn-primary" href="#"> Delete </a>
            </td>
          </tr>
          <tr>
            <td>Kyle Aquino</td>
            <td>kshaunaquino@gmail.com</td>
            <td>Webmaster</td>
            <td>
              <a class="btn btn-primary" href="#"> Edit </a>
              <a class="btn btn-primary" href="#"> Delete </a>
            </td>
          </tr>
          <tr>
            <td>Kyle Aquino</td>
            <td>kshaunaquino@gmail.com</td>
            <td>Webmaster</td>
            <td>
              <a class="btn btn-primary" href="#"> Edit </a>
              <a class="btn btn-primary" href="#"> Delete </a>
            </td>
          </tr>
          <tr>
            <td>Kyle Aquino</td>
            <td>kshaunaquino@gmail.com</td>
            <td>Webmaster</td>
            <td>
              <a class="btn btn-primary" href="#"> Edit </a>
              <a class="btn btn-primary" href="#"> Delete </a>
            </td>
          </tr>
          <tr>
            <td>Kyle Aquino</td>
            <td>kshaunaquino@gmail.com</td>
            <td>Webmaster</td>
            <td>
              <a class="btn btn-primary" href="#"> Edit </a>
              <a class="btn btn-primary" href="#"> Delete </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
