{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Get Started {% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
      <div id="homepage">

        {% if user.is_authenticated %}
            {% include 'base/header-user.html' %}
        {% else %}
            {% include 'base/header-non-user.html' %}
        {% endif %}

        <!-- Main -->
        {% include 'homepage/components/getstarted-jumbotron.html' %}
        <b-container>
          {% include 'homepage/components/getstarted-featurettes.html' %}
          {% include 'homepage/components/getstarted-developers.html' %}
        </b-container>
        {% include 'base/footer.html' %}
      </div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/homepage/index.js' %}"></script>
{% endblock %}
