{% load static %}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3>Manage Posts</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="postFull" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Author</th>
              <th>Title</th>
              <th>Created On</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="post-tbl">
            {%for post in posts%}
            <tr>
              <td>{{post.author}}</td>
              <td>{{post.title}}</td>
              <td>{{post.publish_date}}</td>
              {% if post.status == 'p' %}
                <td>Published</td>
              {% else %}
                <td>Draft</td>
              {% endif %}
              <td>
                <a class="btn btn-sm btn-primary" href="/{{post.slug}}"> Manage Post</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#postModal">
        <i class="fas fa-plus-square"></i> Add Post
      </button>
    </div>
  </div>
</div>
