{% load static %}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3>Manage Users</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="postFull" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Author</th>
              <th>Username</th>
              <th>Date Created</th>
              <th>Email</th>
              <th>User Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="post-tbl">
            {%for users in profile%}
            <tr>
              <td>{{users.user.first_name}} {{users.user.last_name}}</td>
              <td>{{users.user.username}}</td>
              <td>{{users.user.date_joined}}</td>
              <td>{{users.user.email}}</td>
              {% if users.user_type == 'w' %}
                <td>Webmaster</td>
              {% else %}
                <td>User</td>
              {% endif %}
              <td>
                <a class="btn btn-sm btn-primary" href="{{users.user.username}}"> Manage User</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#userModal">
        <i class="fas fa-plus-square"></i> Add User
      </button>
    </div>
  </div>
</div>
