{% load static %}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3>Manage Roles</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="postFull" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Author</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="post-tbl">
            {% for uroles in roles %}
            <tr>
              <td>{{uroles.user_id}}</td>
              {% if uroles.role == 'a' %}
                <td>Administrator</td>
              {% elif uroles.role == 'e' %}
                <td>Editor</td>
              {% elif uroles.role == 'm' %}
                <td>Moderator</td>
              {% elif uroles.role == 's' %}
                <td>Staff</td>
              {% elif uroles.role == 'c' %}
                <td>Contributor</td>
              {% endif %}
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage Post</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-primary">
        <i class="fas fa-plus-square"></i> Add Post
      </button>
    </div>
  </div>
</div>
