{% load static %}

<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3>Manage Users</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="postFull" class="table table-sm table-hover">
          <thead>
            <tr>
              <th>Author</th>
              <th>Birth Date</th>
              <th>Last Updated</th>
              <th>Reputation</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="post-tbl">
            {%for users in profile%}
            <tr>
              <td>{{users.user}}</td>
              <td>{{users.birth_date}}</td>
              <td>{{users.last_updated}}</td>
              <td>{{users.reputation}}</td>
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage User</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#userModal">
        <i class="fas fa-plus-square"></i> Add User
      </button>
    </div>
  </div>
</div>
