{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Homepage {% endblock %}

{% block customCSS %}
    <link href="{% static 'css/userhomepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
      <div id="homepage">
        {% include 'base/header-user.html' %}

        <!-- Main -->
        <b-container class="p-5">
          <b-row>
            <!-- Left Side Components -->
            <b-col lg="8">
              {% include 'base/tags.html' %}
              {% include 'post/components/post-card.html' %}
            </b-col>
            <!-- Right Side Components -->
            <b-col lg="4">
              {% include 'account/components/user-profile-card.html' %}
              {% include 'account/components/user-stats-card.html' %}
              {% include 'base/top-writers-list.html' %}
              {% include 'base/top-publications-list.html' %}
              {% include 'base/footer.html' %}
            </b-col>
          </b-row>
        </b-container>

      </div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/userhomepage.js' %}"></script>
{% endblock %}
