{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Homepage {% endblock %}

{% block customCSS %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
      <div id="homepage">
        <!-- Navigation -->
        <b-navbar toggleable="md" type="light" variant="light">
          <b-navbar-brand href="/profile">
            <img src="/static/img/logo.png" style="height: 40px; width 40px;" class="navbar-logo" alt="PVD">
            | Pravada
          </b-navbar-brand>
          <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
          <b-collapse is-nav id="nav_collapse">

            <!-- Left Aligned Nav Items -->
            <b-navbar-nav>
                <b-nav-item-dropdown text="Subscriptions" right>
                  <b-dropdown-item v-for="subs in subscriptions" :key="subs.id" v-bind:href="subs.link">[[ subs.text ]]</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item href="#">New</b-nav-item>
                <b-nav-item href="#">Hot</b-nav-item>
                <b-nav-item href="#">Popular</b-nav-item>
              </b-navbar-nav>
              <hr>
            <!-- Right Aligned Nav Items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item href="search">
                <form action="">
                  <b-form-input placeholder="Search..."></b-form-input>
                </form>
              </b-nav-item>
              <b-nav-item href="login"><span class="fa fa-bell"></span></b-nav-item>
              <b-nav-item href="/login">Login</b-nav-item>
              <b-nav-item href="write">
                <b-dropdown size="sm" variant="outline-primary" text="Profile" right>
                  <b-dropdown-item>First Action</b-dropdown-item>
                  <b-dropdown-item>Second Action</b-dropdown-item>
                  <b-dropdown-item>Third Action</b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item>Something else here...</b-dropdown-item>
                  <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                </b-dropdown>
              </b-nav-item>



            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
        <!--/Navigation  -->

        <!-- Header -->
        <b-container class="p-5">
          <b-row>
            <b-col lg="9">
                        <b-row>
                            <b-col sm="2" xs="2 ">
                              <b-img left fluid src="https://picsum.photos/125/125/?image=58" rounded="circle" alt="left image"/>
                            </b-col>
                            <b-col sm="10" xs="10">
                              <h3>Vincent Tibubos</h3>
                              <p class="card-text">
                                Reputation
                              </p>
                              <b-button>Edit profile</b-button>
                            </b-col>
                        </b-row>
                        <hr />
                <b-tabs>
                    <b-tab title="Latest" active>
                      <div v-for="post in posts" :key="post.id" class="p-2">
                        <b-card v-bind:title="post.title" >
                          <b-container fluid>
                            {# Post Header #}
                            <b-row>
                              <b-col sm="2" md="2" lg="1" style="max-width: 100px;">
                                  <b-img src="/static/img/logo-alt.png" rounded="circle" fluid alt="Responsive image"/>
                              </b-col>
                              <b-col sm="10" md="10" lg="11">
                                <div><a v-bind:href="post.authorlink">[[post.author]]</a></div>
                                <small>[[post.date]]</small>
                              </b-col>
                            </b-row>
                            {# Post Content #}
                            <b-row>
                                <b-col sm="8">
                                    <p>[[post.details]]... <a v-bind:href='post.postLink'>(Read more)</a></p>
                                </b-col>
                                <b-col sm="4">
                                    <b-img src="https://picsum.photos/1024/400/?image=41" fluid alt="Responsive image" />
                                </b-col>
                            </b-row>
                          </b-container>
                          {# Post Footer #}
                          <div slot="footer">
                              <b-button-group >
                                <b-button variant="light"><span class="fa fa-arrow-up"></span></b-button>
                                <b-button variant="light" disabled>[[post.points]]</b-button>
                                <b-button variant="light"><span class="fa fa-arrow-down"></span></b-button>
                                <b-button variant="light"><span class="fa fa-comment"></span><span> Comment</span></b-button>
                                <b-button variant="light"><span class="fa fa-share"></span> Share</b-button>
                              </b-button-group>
                          </div>
                        </b-card>
                      </div>
                    </b-tab>
                    <b-tab title="Most Read" >
                      <br>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </b-tab>
                    <b-tab title="Drafts" >
                      <br>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </b-tab>
                  </b-tabs>
            </b-col>
            <b-col lg="3">
                <b-card
                    header="Credentials"
                    class="text-left mb-3">
                      <p><span class="fa fa-birthday-cake"></span> August 23, 1998</p>
                      <p><span class="fa fa-map-marker-alt"></span> Floridablanca, Pampanga</p>
                      <p><span class="fa fa-user"></span> Developer</p>


                </b-card>
                <b-card
                    header="<span class='fa fa-users'><span> Organizations"
                    class="text-center">
                    <ol class="mb-0">
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                        <li><a href="#">Organizations</a></li>
                      </ol>
                </b-card>
            </b-col>
          </b-row>
        </b-container>
        <!-- /Header -->



        <footer class="blog-footer mt-2 font-small">
          <div class="container text-center text-md-left">
            <div class="row">
              <div class="col-12">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Help</a></li>
                  <li class="list-inline-item"><a href="#">Team</a></li>
                  <li class="list-inline-item"><a href="#">Blog</a></li>
                  <li class="list-inline-item"><a href="#">Careers</a></li>
                  <li class="list-inline-item"><a href="#">Privacy</a></li>
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">About</a></li>
                  <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/homepage.js' %}"></script>
    <script>
        var img_cover=document.getElementById('img-cover');
        console.log('sdf');
    </script>
{% endblock %}
