{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Register {% endblock %}


{% block customCSS %}
    <link href="{% static 'css/register.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
      <div id="register">
        <!--/Navigation  -->
        <b-navbar toggleable="md" type="light" variant="light">
          <b-navbar-brand href="/">
            <img src="/static/img/logo.png" style="height: 40px; width: 40px;" class="navbar-logo" alt="PVD">
            | Pravada
          </b-navbar-brand>
          <b-navbar-nav class="ml-auto">
            <b-nav-item href="/login">Login</b-nav-item>
          </b-navbar-nav>
        </b-navbar>
        <!-- Register Container -->
        <b-container>
          <b-row>
            <b-col class="center" lg="4" offset-lg="4" md="6" offset-md="3" sm="6" offset-sm="3">
              <form class="site-form" action="" method="post">
                <b-row>
                  <b-col class="text-center">
                    <img alt="img" src="{% static 'img/logo.png' %}" width="60"/><span class="pt-3" style="font-size: 30px;">
                    <h1>Pravada|Register</h1>
                  </b-col>
                </b-row>
                {% csrf_token %}
                <!-- <b-form-group :invalid-feedback="invalidPassFeedback" :state="state" @submit.prevent='register'> -->
                  <b-form-group :state="state" @submit.prevent='register'>
                  <b-form-input class="mb-1" :state="state" v-model.trim="username" placeholder="Username"></b-form-input>
                  <b-form-input class="mb-1" :state="state" v-model.trim="fname" placeholder="First name"></b-form-input>
                  <b-form-input class="mb-1" :state="state" v-model.trim="lname" placeholder="Last name"></b-form-input>
                  <b-form-input class="mb-1" :state="state" v-model.trim="email" type="email" placeholder="Email"></b-form-input>
                  <b-form-input class="mb-1" :state="state" v-model.trim="password" placeholder="Password" type="password"></b-form-input>
                  <b-form-input class="mb-1" :state="state" v-model.trim="confirmPassword" placeholder="Confirm Password" type="password"></b-form-input>
                </b-form-group>
                <b-button type="submit" variant="custom" block="block" v-on:click.prevent='register'>Register</b-button>
              </form>
            </b-col>
          </b-row>
        </b-container>
      </div>
{% endblock %}


{% block customJS %}
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}
