{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Publication Reputation {% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
      <div id="publication">
        {% include 'base/header-user.html' %}
        <b-container class="p-5">
          <b-row>
            <b-col cols="3">
              {% include 'publication/components/list/statistics-nav.html' %}
              {% include 'base/footer.html' %}
            </b-col>
            <b-col cols="9">
              {% include 'publication/components/accordion/reviews.html' %}
            </b-col>

          </b-row>
        </b-container>
      </div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/publication/index.js' %}"></script>
{% endblock %}
