{% load static %}

<a href="/profile/" class="btn btn-primary btn-block">Go back to User Profile</a>

<b-card no-body header="<b>User Settings</b>">
   <b-list-group flush>
     <b-list-group-item href="/profile/following/">Following</b-list-group-item>
     <b-list-group-item href="/profile/followers/">Followers</b-list-group-item>
     <b-list-group-item href="/profile/publications/">Publications</b-list-group-item>
     <b-list-group-item href="/profile/reputation/">Reputation</b-list-group-item>
     <b-list-group-item href="/profile/subscriptions/">Subscriptions</b-list-group-item>
   </b-list-group>
 </b-card>
</b-card-group>
