{% load static %}

<b-card no-body header="<b>User Settings</b>">
   <b-list-group flush>
     <b-list-group-item href="/profile/following/">Following</b-list-group-item>
     <b-list-group-item href="/profile/followers/">Followers</b-list-group-item>
     <b-list-group-item href="/profile/publications/">Publications</b-list-group-item>
     <b-list-group-item href="/profile/reputation/">Reputation</b-list-group-item>
     <b-list-group-item href="/profile/subscrptions/">Subscriptions</b-list-group-item>
   </b-list-group>
 </b-card>
</b-card-group>
