{% load static %}

<b-card no-body header="<b>User Settings</b>">
   <b-list-group flush>
     <b-list-group-item href="#">Profile</b-list-group-item>
     <b-list-group-item href="#">Account</b-list-group-item>
     <b-list-group-item href="#">Notifications</b-list-group-item>
     <b-list-group-item href="#">Activity Log</b-list-group-item>
     <b-list-group-item href="#">Posts</b-list-group-item>
     <b-list-group-item href="#">Publications</b-list-group-item>
     <b-list-group-item href="#">Blocked Users</b-list-group-item>
   </b-list-group>
 </b-card>
</b-card-group>
