{% load static %}

<b-card no-body header="<b>User Settings</b>">
   <b-list-group flush>
     <b-list-group-item href="/settings/profile/">Profile</b-list-group-item>
     <b-list-group-item href="/settings/account/">Account</b-list-group-item>
     <b-list-group-item href="/settings/notifications/">Notifications</b-list-group-item>
     <b-list-group-item href="/settings/activity-log/">Activity Log</b-list-group-item>
     <b-list-group-item href="/settings/posts/">Posts</b-list-group-item>
     <b-list-group-item href="/settings/publications/">Publications</b-list-group-item>
     <b-list-group-item href="/settings/blocked-users/">Blocked Users</b-list-group-item>
   </b-list-group>
 </b-card>
</b-card-group>
