{% load static %}

<form  method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-9">
      {{publicationform.name}}
    </div>
    <div class="form-group col-3">
      {{publicationform.cover}}
    </div>
  </div>
  <div class="form-group">
    {{publicationform.description}}
  </div>
  <div class="form-group">
    {{publicationform.categories}}
  </div>
  <div class="form-group">
    {{publicationform.roles}}
  </div>
  <button type="submit" class="btn btn-outline-primary" name="add_publication">
    <i class="fas fa-plus-square"></i> Add Publication
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Clear
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Cancel
  </button>
</form>
