{% load static %}

<form>
  <div class="form-group">
    <input type="name" class="form-control" id="inputPublicationName" placeholder="Publication Name">
  </div>
  <div class="form-group">
    <input type="description" class="form-control" id="inputPublicationDescription" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Add Publication
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Clear
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Cancel
  </button>
</form>
