{% load static %}

<form method="post">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-9">
    {{postform.title}}
    </div>
    <div class="form-group col-3">
    {{postform.slug}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      {{postform.text}}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-2">
    {{postform.publish_date}}
    </div>
    <div class="form-group col-8">
    {{postform.author}}
    </div>
    <div class="form-group col-2">
    {{postform.status}}
    </div>
  </div>
  <button type="submit" class="btn btn-outline-primary" name="add_post">
    <i class="fas fa-plus-square"></i> Add Post
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Clear
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Cancel
  </button>
</form>
