{% load static %}

<form method="post">
  {% csrf_token %}
  <div class="form-group">
    {{roleform.user_id}}
  </div>
  <div class="form-group">
    {{roleform.roles}}
  </div>
  <div class="form-group">
    {{roleform.publication}}
  </div>
  <div class="form-group">
    {{roleform.role}}
  </div>
  <button type="submit" class="btn btn-outline-primary" name= "add_role">
    <i class="fas fa-plus-square"></i> Add Role
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Clear
  </button>
  <button type="clear" class="btn btn-outline-primary">
    <i class="fas fa-plus-square"></i> Cancel
  </button>
</form>
