{% load static %}

<div class="col-12 mb-3">
  <div class="card">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h3>Recently Added Users</h3>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="float-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-plus-square"></i> Create
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="far fa-eye"></i> Read
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Username</th>
              <th>Email Address</th>
              <th>Created On</th>
              <th>User Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="user-tbl">
            <tr>
              <td>1</td>
              <td>Kyle Aquino</td>
              <td>kshaunaquino</td>
              <td>kshaunaquino@gmail.com</td>
              <td>02/19/2018</td>
              <td>Webmaster</td>
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage User</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Kyle Aquino</td>
              <td>kshaunaquino</td>
              <td>kshaunaquino@gmail.com</td>
              <td>02/19/2018</td>
              <td>Webmaster</td>
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage User</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Kyle Aquino</td>
              <td>kshaunaquino</td>
              <td>kshaunaquino@gmail.com</td>
              <td>02/19/2018</td>
              <td>Webmaster</td>
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage User</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Kyle Aquino</td>
              <td>kshaunaquino</td>
              <td>kshaunaquino@gmail.com</td>
              <td>02/19/2018</td>
              <td>Webmaster</td>
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage User</a>
              </td>
            </tr>
            <tr>
              <td>1</td>
              <td>Kyle Aquino</td>
              <td>kshaunaquino</td>
              <td>kshaunaquino@gmail.com</td>
              <td>02/19/2018</td>
              <td>Webmaster</td>
              <td>
                <a class="btn btn-sm btn-primary" href="#"> Manage User</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
