{% load static %}

<div class="col-12 mb-3">
  <div class="card">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h3>Recently Added Pages</h3>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="float-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-plus-square"></i> Create
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="far fa-eye"></i> Read
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Created on</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="page-tbl">
            {% for pub in publications %}
            <tr>
              <td>{{pub.id}}</td>
              <td>{{pub.name}}</td>
              <td>{{pub.created}}</td>
              <td>{{pub.description}}</td>
              <td>
                <a class="btn btn-sm btn-primary" href="page/{{pub.slug}}"> Manage Publication</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
