{% load static %}

<div class="col-12 mb-3">
  <div class="card">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h3>Recently Added Posts</h3>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="float-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#postModal">
                  <i class="fas fa-plus-square"></i> Create
                </button>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#postsearchModal">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#postdsearchModal">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Author</th>
              <th>Created On</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="post-tbl">
            {%for post in posts%}
            <tr>
              <td>{{post.id}}</td>
              <td>{{post.title}}</td>
              <td>{{post.author}}</td>
              <td>{{post.created}}</td>
              {% if post.status %}
                <td>Published</td>
              {% else %}
                <td>Draft</td>
              {% endif %}
              <td>
                <a class="btn btn-sm btn-primary" href="post/{{post.slug}}"> Manage Post</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
