{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Homepage {% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
      <div id="publication">
        {% include 'base/header-user.html' %}
        {% include 'publication/components/jumbotron/publication-profile.html' %}

        <b-container class="p-5">
          <b-row>
            <b-col lg="8">
              {% include 'homepage/components/tags.html' %}
              {% include 'post/components/card/post-card.html' %}
            </b-col>
            <b-col lg="4">
              {% include 'publication/components/card/publication-team-card.html' %}
              {% include 'base/footer.html' %}
            </b-col>
          </b-row>
        </b-container>
      </div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/publication/index.js' %}"></script>
{% endblock %}
