{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Homepage {% endblock %}

{% block customCSS %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
      <div id="homepage">
        <!-- Navigation -->
        <b-navbar toggleable="md" type="light" variant="light">
          <b-navbar-brand href="#">
            <img src="/static/img/logo.png" style="height: 40px; width: 40px;" class="navbar-logo" alt="PVD">
            | Pravada
          </b-navbar-brand>
          <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
          <b-collapse is-nav id="nav_collapse">

            <!-- Left Aligned Nav Items -->
            <b-navbar-nav>
                <b-nav-item-dropdown text="Subscriptions" right>
                  <b-dropdown-item v-for="subs in subscriptions" :key="subs.id" v-bind:href="subs.link">[[ subs.text ]]</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item href="#">New</b-nav-item>
                <b-nav-item href="#">Hot</b-nav-item>
                <b-nav-item href="#">Popular</b-nav-item>
              </b-navbar-nav>
              <hr>
            <!-- Right Aligned Nav Items -->
            <b-navbar-nav class="ml-auto">
              <b-nav-item href="search">
                <form action="">
                  <b-form-input placeholder="Search..."></b-form-input>
                </form>
              </b-nav-item>
              <b-nav-item href="login"><span class="fa fa-bell"></span></b-nav-item>
              <b-nav-item href="/login">Login</b-nav-item>
              <b-nav-item href="write">
                <b-dropdown size="sm" variant="outline-primary" text="Profile" right>
                  <b-dropdown-item>First Action</b-dropdown-item>
                  <b-dropdown-item>Second Action</b-dropdown-item>
                  <b-dropdown-item>Third Action</b-dropdown-item>
                  <b-dropdown-divider></b-dropdown-divider>
                  <b-dropdown-item>Something else here...</b-dropdown-item>
                  <b-dropdown-item disabled>Disabled action</b-dropdown-item>
                </b-dropdown>
              </b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
        <!--/Navigation  -->

        <!-- Header -->
        <b-jumbotron bg-variant="default" text-variant="black" class="shadow-sm">
          <template slot="header">
            Publication Name
          </template>
          <template slot="lead">
            This is a simple hero unit, a simple jumbotron-style component for
            calling extra attention to featured content or information.
          </template>
          <p>Credit: 2323</p>
        </b-jumbotron>

        <b-container class="p-5">
          <b-row>
            <b-col lg="9">
              <div class="d-flex">
                <div class="p-2">
                  <b-button class="m-1" variant="secondary" v-for="tag in tags"
                            :key="tag.id" v-bind:href="tag.link">[[tag.name]]
                  </b-button>
                </div>
              </div>
              <hr/>
              <b-tabs>

                  {# Latest Tab #}
                  <b-tab title="Latest" >
                    <b-card v-for="post in posts" :key="post.id" class="my-3">
                      <b-container>
                        <b-row class="mb-3">
                          <b-col>
                            <h3>[[post.title]]</h3>
                            <span class="text-muted">Posted by <a v-bind:href="post.authorlink">[[post.author]]</a> on [[post.date]]</span>
                          </b-col>
                        </b-row>
                        <b-row>
                          <b-col sm="8"  md="8">
                            <p>[[post.details]]... <a v-bind:href='post.postLink'>(Read more)</a></p>
                          </b-col>
                          <b-col sm="4"  md="4">
                            <b-img class="d-none d-md-block" src="https://picsum.photos/1024/400/?image=41" thumbnail fluid alt="image" />
                          </b-col>
                        </b-row>
                      </b-container>
                      <div slot="footer" class="p-0">
                        <b-button-group>
                          <b-button variant="dark" disabled> 33 points</b-button>
                          <b-button variant="light"><span class="fa fa-arrow-up"></span> Upvote</b-button>
                          <b-button variant="light"><span class="fa fa-arrow-down"></span> Downvote</b-button>
                          <b-button variant="light"><span class="fa fa-comment"></span> Comments</b-button>
                          <b-button variant="light"><span class="fa fa-share"></span> Share</b-button>
                        </b-button-group>
                      </div>
                    </b-card>
                  </b-tab>

                  {# Most Read Tab #}
                  <b-tab title="Most Read" >
                    <b-card v-for="post in posts" :key="post.id" class="my-3">
                      <b-container>
                        <b-row class="mb-3">
                          <b-col>
                            <h3>[[post.title]]</h3>
                            <span class="text-muted">Posted by <a v-bind:href="post.authorlink">[[post.author]]</a> on [[post.date]]</span>
                          </b-col>
                        </b-row>
                        <b-row>
                          <b-col sm="8"  md="8">
                            <p>[[post.details]]... <a v-bind:href='post.postLink'>(Read more)</a></p>
                          </b-col>
                          <b-col sm="4"  md="4">
                            <b-img class="d-none d-md-block" src="https://picsum.photos/1024/400/?image=41" thumbnail fluid alt="image" />
                          </b-col>
                        </b-row>
                      </b-container>
                      <div slot="footer" class="p-0">
                        <b-button-group>
                          <b-button variant="dark" disabled> 33 points</b-button>
                          <b-button variant="light"><span class="fa fa-arrow-up"></span> Upvote</b-button>
                          <b-button variant="light"><span class="fa fa-arrow-down"></span> Downvote</b-button>
                          <b-button variant="light"><span class="fa fa-comment"></span> Comments</b-button>
                          <b-button variant="light"><span class="fa fa-share"></span> Share</b-button>
                        </b-button-group>
                      </div>
                    </b-card>

                  </b-tab>

                  {# Drafts Tab #}
                  <b-tab title="Drafts" >
                    <b-card v-for="post in posts" :key="post.id" class="my-3">
                      <b-container>
                        <b-row class="mb-3">
                          <b-col>
                            <h3>[[post.title]]</h3>
                            <span class="text-muted">Posted by <a v-bind:href="post.authorlink">[[post.author]]</a> on [[post.date]]</span>
                          </b-col>
                        </b-row>
                        <b-row>
                          <b-col sm="8"  md="8">
                            <p>[[post.details]]... <a v-bind:href='post.postLink'>(Read more)</a></p>
                          </b-col>
                          <b-col sm="4"  md="4">
                            <b-img class="d-none d-md-block" src="https://picsum.photos/1024/400/?image=41" thumbnail fluid alt="image" />
                          </b-col>
                        </b-row>
                      </b-container>
                      <div slot="footer" class="p-0">
                        <b-button-group>
                          <b-button variant="dark" disabled> 33 points</b-button>
                          <b-button variant="light"><span class="fa fa-arrow-up"></span> Upvote</b-button>
                          <b-button variant="light"><span class="fa fa-arrow-down"></span> Downvote</b-button>
                          <b-button variant="light"><span class="fa fa-comment"></span> Comments</b-button>
                          <b-button variant="light"><span class="fa fa-share"></span> Share</b-button>
                        </b-button-group>
                      </div>
                    </b-card>
                  </b-tab>
              </b-tabs>
            </b-col>
            <b-col lg="3">
              <b-card header="<span class='fa fa-users'><span> Team" class="text-left">
                <b-list-group flush>
                  <b-list-group-item v-for="member in members" :key="member.id">
                    <b-row >
                      <b-col cols="5">
                        <b-img rounded blank fluid alt="Responsive image" alt="img"
                               width="75" height="75" blank-color="#777" class="m-1" />
                      </b-col>
                      <b-col cols="7" class="p-0 my-auto">
                        <b-link v-bind:href="member.authorLink" class="text-dark"><b>[[member.author]]</b></b-link>
                        <br> <small>[[member.authorPosition]]</small>
                      </b-col>
                    </b-row>
                  </b-list-group-item>
                </b-list-group>
              </b-card>
            </b-col>
          </b-row>
        </b-container>
        <!-- /Header -->



        <footer class="blog-footer mt-2 font-small">
          <div class="container text-center text-md-left">
            <div class="row">
              <div class="col-12">
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#">Help</a></li>
                  <li class="list-inline-item"><a href="#">Team</a></li>
                  <li class="list-inline-item"><a href="#">Blog</a></li>
                  <li class="list-inline-item"><a href="#">Careers</a></li>
                  <li class="list-inline-item"><a href="#">Privacy</a></li>
                  <li class="list-inline-item"><a href="#">Terms</a></li>
                  <li class="list-inline-item"><a href="#">About</a></li>
                  <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/publication.js' %}"></script>
    <script>
        var img_cover=document.getElementById('img-cover');
        console.log('sdf');
    </script>
{% endblock %}
