{% extends "base-no-vue.html" %}
{% load static %}

{% block title %} Pravada | Webmaster Homepage {% endblock %}

{% block customCSS %}
    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'vendor/sb-admin/css/sb-admin.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include 'webadmin/components/header.html' %}
    <div id="wrapper">
      {% include 'webadmin/components/sidebar.html' %}
      <div id="content-wrapper">
        <div class="container-fluid">
          {% include 'webadmin/components/breadcrumb.html' %}
          <div class="row">
            {% include 'webadmin/components/icon-cards.html' %}
          </div>
          <div class="row">
            {% include 'webadmin/components/table-user.html' %}
          </div>
          <div class="row">
            {% include 'webadmin/components/table-page.html' %}
          </div>
          <div class="row">
            {% include 'webadmin/components/table-post.html' %}
          </div>
        </div>
        {% include 'webadmin/components/footer.html' %}
      </div>
    </div>
    {% include 'webadmin/components/logout-modal.html' %}

{% endblock %}

{% block customJS %}
    <!-- SB-Admin JS -->
    <script src="{% static 'vendor/sb-admin/js/sb-admin.min.js' %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>
{% endblock %}
