{% extends "base-no-vue.html" %}
{% load static %}

{% block title %} Pravada | Web Admin Login {% endblock %}

{% block customCSS %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h2 class="card-title text-center">Webmaster Login</h2>
              <form class="form-signin" method="post">
                {% csrf_token %}
                <div class="form-label-group">
                  <input type="username" name="username" id="username" class="form-control my-2" placeholder="Username" required autofocus>
                  <input type="password" name="password" id="password" class="form-control my-2" placeholder="Password" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase my-2" value="login" type="submit">Sign in</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block customJS %}
  <script src="{% static 'js/webadmin/login.js' %}"></script>
{% endblock %}
