{% load static %}

<b-button class="btn-block mb-2" href="/publication/"variant="primary"> 
  <i class="fas fa-caret-square-left"></i>
  Go back to Publication Profile
</b-button>

<b-card no-body>
   <b-list-group flush>
     <b-list-group-item href="/publication/posts/">Post</b-list-group-item>
     <b-list-group-item href="/publication/staff/">Staff</b-list-group-item>
     <b-list-group-item href="/publication/subscribers/">Subscribers</b-list-group-item>
     <b-list-group-item href="/publication/reputation/">Reputation</b-list-group-item>
   </b-list-group>
 </b-card>
</b-card-group>
