{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | Posts {% endblock %}

{% block customCSS %}
{% endblock %}

{% block body %}
      <div id="account">
        {% include 'base/header-user.html' %}

        <!-- Main -->
        <b-container class="p-5">
          <b-row>
            <!-- Left Side Components -->
            <b-col lg="8">

            </b-col>
            <!-- Right Side Components -->
            <b-col lg="4">
              {% include 'base/footer.html' %}
            </b-col>
          </b-row>
        </b-container>

      </div>
{% endblock %}

{% block customJS %}
  <script src="{% static 'js/account/index.js' %}"></script>
{% endblock %}
