{% load static %}
{% if messages %}
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <b-alert show dismissible>
        {{message}}
      </b-alert>
    </div>
    {% endfor %}
{% endif %}
        <b-card tag="article" header="Profile"class="mb-2">
<!-- <form>{{pass_form}}</form> -->
<!-- {{pass_form.old_password.errors.as_tex}} -->
            <b-row>
              <b-col cols="12">
                <h2>Change Password</h2>
                <form method="POST">
                {% if pass_form.non_field_errors %}
                <div class="invalid-feedback">
                  {% for err in pass_form.non_field_errors %}
                    {{ err }}
                  {% endfor %}
                </div>
                {% endif %}
                {%for hidden in pass_form.hidden_fields%}
                 {{hidden}}
                {%endfor%}
                {% for field in pass_form.visible_fields %}
                  {{ field.label_tag }}
                  {{ field }}
                  <div class="text-danger help-text mb-2">
                    {{field.errors.as_text}}
                  </div>
                {% endfor %}
                <ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
                {%csrf_token%}
                  <b-button type="submit" name="pass_change" variant="secondary" size="lg">Change Password</b-button>
                </form>
              </b-col>

              <b-col cols="12" class="mt-5">
                <h2>Change Username</h2>
                <form method="POST">
                  {% if user_form.non_field_errors %}
                  <div class="invalid-feedback">
                    {% for err in user_form.non_field_errors %}
                      {{ err }}
                    {% endfor %}
                  </div>
                  {% endif %}
                  {%for hidden in user_form.hidden_fields%}
                   {{hidden}}
                  {%endfor%}
                  {% for field in user_form.visible_fields %}
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-danger help-text mb-2">
                      {{field.errors.as_text}}
                    </div>
                  {% endfor %}
                  {%csrf_token%}
                  <b-button type="submit" name="user_change" variant="secondary" size="lg">Change Password</b-button>
                </form>
              </b-col>
              <b-col cols="12" class="mt-5">
                <h2 class="text-danger">Delete Account</h2>
                <div style="margin:0px 0px 0px 0px;">
                  <b-button class="mt-4" href="/settings/account/delete_account/" variant="danger" size="lg">Delete Account
                  </b-button>
                </div>
              </b-col>
            </b-row>
        </b-card>
