{% load static %}

<b-card tag="article" header="Notifications" class="mb-2">
    <b-row>
      <b-col cols="12">
        <b-list-group flush>
          <b-list-group-item>
            <div class="d-flex justify-content-between bd-highlight mb-3">
              <div class="p-2"><b-img fluid alt="Responsive image" rounded blank width="75" height="75" blank-color="#777" alt="img" /></div>
              <div class="p-2 w-100">
                <h6><b><a href="slug">Name</a></b></h6>
                <p class="text-muted"> <small>Description</small></p>
              </div>
              <div class="p-2"><b-button>sadf</b-button></div>
            </div>
          </b-list-group-item>
          <b-list-group-item>
            <div class="d-flex justify-content-between bd-highlight mb-3">
              <div class="p-2"><b-img fluid alt="Responsive image" rounded blank width="75" height="75" blank-color="#777" alt="img" /></div>
              <div class="p-2 w-100">
                <h6><b><a href="slug">Name</a></b></h6>
                <p class="text-muted"> <small>Description</small></p>
              </div>
              <div class="p-2"><b-button>sadf</b-button></div>
            </div>
          </b-list-group-item>
          <b-list-group-item>
            <div class="d-flex justify-content-between bd-highlight mb-3">
              <div class="p-2"><b-img fluid alt="Responsive image" rounded blank width="75" height="75" blank-color="#777" alt="img" /></div>
              <div class="p-2 w-100">
                <h6><b><a href="slug">Name</a></b></h6>
                <p class="text-muted"> <small>Description</small></p>
              </div>
              <div class="p-2"><b-button>sadf</b-button></div>
            </div>
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
</b-card>
