{% load static %}

<b-card header="User Statistics" class="mb-2">
  <b-row>
    <b-col>
      <b-button-group size="sm" >
        <b-button class="text-justify text-muted" variant="link"><b>Reputation</b> <br> 1/10</b-button>
        <b-button class="text-justify text-muted" variant="link"><b>Followers</b> <br> 100</b-button>
        <b-button class="text-justify text-muted" variant="link"><b>Following</b> <br> 200</b-button>
        <b-button class="text-justify text-muted" variant="link"><b>Posts</b> <br> 300</b-button>
      </b-button-group>
    </b-col>
  </b-row>


</b-card>
