{% load static %}

<b-card no-body class="mb-3">
  <b-card-header class="d-flex justify-content-between">
    <div>
      <span class='fa fa-users'><span> My Posts
    </div>
    <div>
      <b-button size="sm" variant="outline-primary" href="/profile/posts/">
        <i class="fas fa-edit"></i>
      </b-button>
    </div>
  </b-card-header>
  <b-card-body>
    <b-tabs>
      <b-tab title="Latest" active>
        <!-- Edit this create more post card components for this  -->
        {% include 'post/components/card/post-card.html' %}
      </b-tab>
      <b-tab title="Most Read" >
        {% include 'post/components/card/post-card.html' %}
      </b-tab>
      <b-tab title="Drafts">
        {% include 'post/components/card/post-card.html' %}
      </b-tab>
    </b-tabs>
  </b-card-body>

</b-card>
