{% load static %}

<b-card no-body img-src="https://picsum.photos/900/250/?image=36" img-alt="">
  <b-card-footer class="d-flex justify-content-between">
    <div>
      <b-button-group>
        <b-button variant="outline-primary">Submit Article</b-button>
        <b-button variant="outline-primary">Subscribe</b-button>
        <b-button variant="outline-primary">Share</b-button>
      </b-button-group>
      <b-dropdown variant="outline-primary" text="...">
        <b-dropdown-item>Item 1</b-dropdown-item>
        <b-dropdown-item>Item 2</b-dropdown-item>
        <b-dropdown-item>Item 3</b-dropdown-item>
      </b-dropdown>
    </div>
    <div>
      <form action="">
        <b-form-input placeholder="Search..."></b-form-input>
      </form>
    </div>
  </b-card-footer>
</b-card>
