{% load static %}

<b-card no-body class="mb-3">
  <b-card-header class="d-flex justify-content-between">
    <span class='fa fa-users'><span> Publication Staff
  </b-card-header>
  <b-list-group flush>
    <b-list-group-item button>
      <b-row>
        <b-col cols="3" class="p-1 ">
          <b-img fluid alt="Responsive image" rounded blank width="75" height="75" blank-color="#777" alt="img" />
        </b-col>
        <b-col cols="9" class="p-1">
          <h6><b>Kyle Aquino | @kshaunaquino</b></h6>
          <p class="text-muted"> <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation</small></p>
        </b-col>
      </b-row>
    </b-list-group-item>
    <b-list-group-item button>
      <b-row>
        <b-col cols="3" class="p-1 ">
          <b-img fluid alt="Responsive image" rounded blank width="75" height="75" blank-color="#777" alt="img" />
        </b-col>
        <b-col cols="9" class="p-1">
          <h6><b>Kyle Aquino | @kshaunaquino</b></h6>
          <p class="text-muted"> <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation</small></p>
        </b-col>
      </b-row>
    </b-list-group-item>
    <b-list-group-item button>
      <b-row>
        <b-col cols="3" class="p-1 ">
          <b-img fluid alt="Responsive image" rounded blank width="75" height="75" blank-color="#777" alt="img" />
        </b-col>
        <b-col cols="9" class="p-1">
          <h6><b>Kyle Aquino | @kshaunaquino</b></h6>
          <p class="text-muted"> <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, quis nostrud exercitation</small></p>
        </b-col>
      </b-row>
    </b-list-group-item>
  </b-list-group>
</b-card>
