{% load static %}

<b-button-group class="d-flex shadow-sm bg-white rounded mb-2">
  <b-button variant="light" href="/publication/posts/" class="text-left flex-fill">
    <small>Posts</small> <br> <b-badge variant="dark">10k</b-badge>
  </b-button>
  <b-button variant="light" href="/publication/subscribers/" class="text-left flex-fill">
    <small>Subscribers</small> <br> <b-badge variant="dark">10k</b-badge>
  </b-button>
  <b-button variant="light" href="/publication/reputation/" class="text-left flex-fill">
    <small>Reputation</small> <br> <b-badge variant="dark">20</b-badge>
  </b-button>
</b-button-group>
