{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | User Profile {% endblock %}

{% block customCSS %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div id="homepage">
  {% include 'base/header-user.html' %}
  {% include 'account/components/user-profile-jumbotron.html' %}

  <b-container class="p-5">
    <b-row>
      <b-col lg="8">
        <b-tabs>
          <b-tab title="Latest" active>
            {% include 'post/components/post-card.html' %}
          </b-tab>
          <b-tab title="Most Read" >
            {% include 'post/components/post-card.html' %}
          </b-tab>
          <b-tab title="Drafts">
            {% include 'post/components/post-card.html' %}
          </b-tab>
        </b-tabs>
      </b-col>
      <b-col lg="4">
        {% include 'account/components/user-org-card.html' %}
        {% include 'base/footer.html' %}
      </b-col>
    </b-row>
  </b-container>
</div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
