{% load static %}
<b-navbar toggleable="md" type="dark" sticky="true" variant="info">
  <b-navbar-brand href="/">
    <img src="/static/img/logo.png" style="height: 40px; width: 40px;"
         class="navbar-logo" alt="PVD"> | Pravada
  </b-navbar-brand>
  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
  <b-collapse is-nav id="nav_collapse">
    <!-- Left Aligned Nav Items -->
    <b-navbar-nav>
        <b-nav-item-dropdown text="My Subscriptions">
          <b-dropdown-item>My Subscription 1</b-dropdown-item>
          <b-dropdown-item>My Subscription 2</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item href="/new/">New</b-nav-item>
        <b-nav-item href="/hot/">Hot</b-nav-item>
        <b-nav-item href="/popular/">Popular</b-nav-item>
      </b-navbar-nav>
      <hr>
    <!-- Right Aligned Nav Items -->
    <b-navbar-nav class="ml-auto">
      <b-nav-item>
        <form action="">
          <b-form-input placeholder="Search..."></b-form-input>
        </form>
      </b-nav-item>
      <b-nav-item-dropdown text="Notifications">
        <template slot="button-content">
          <i class="fas fa-bell"></i><span class="sr-only">Notifications</span>
        </template>
        <b-dropdown-item>My Subscription 1</b-dropdown-item>
        <b-dropdown-item>My Subscription 2</b-dropdown-item>
      </b-nav-item-dropdown>
      <b-nav-item>
        <b-dropdown size="sm" variant="outline-light" text="+" right>
          <b-dropdown-item>Write Article</b-dropdown-item>
          <b-dropdown-item>Create Publication</b-dropdown-item>
        </b-dropdown>
      </b-nav-item>
      <b-nav-item>
        <b-dropdown size="sm" variant="outline-light" text="Kyle Aquino" right>
          <b-dropdown-item href="/profile/">My Profile</b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-header>Manage Contents</b-dropdown-header>
          <b-dropdown-item href="/profile/posts/">Manage Articles</b-dropdown-item>
          <b-dropdown-item href="/profile/subsciptions/">Manage Subscriptions</b-dropdown-item>
          <b-dropdown-item href="/profile/publications/">Manage Publications</b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-header>System</b-dropdown-header>
          <b-dropdown-item href="/help/">Help</b-dropdown-item>
          <b-dropdown-item href="/profile/activitylog/">Activity Log</b-dropdown-item>
          <b-dropdown-item href="/profile/settings/">Settings</b-dropdown-item>
          <b-dropdown-item href="/logout/">Logout</b-dropdown-item>
        </b-dropdown>
      </b-nav-item>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
