{% extends "base.html" %}
{% load static %}

{% block title %} Pravada | User Profile {% endblock %}

{% block customCSS %}
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div id="account">
  {% include 'base/header-user.html' %}
  {% include 'account/components/jumbotron/account.html' %}

  <b-container class="p-5">
    <b-row>
      <b-col lg="8">
        {% include 'account/components/card/user-posts-card.html' %}
      </b-col>
      <b-col lg="4">
        {% include 'account/components/card/user-publications-card.html' %}
        {% include 'base/footer.html' %}
      </b-col>
    </b-row>
  </b-container>
</div>
{% endblock %}

{% block customJS %}
    <script src="{% static 'js/account/index.js' %}"></script>
{% endblock %}
