{% load static %}

<div class="col-12 mb-3">
  <div class="card">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <h3>Edit Post</h3>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="float-right">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-plus-square"></i> Create
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="far fa-eye"></i> Read
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button type="button" class="btn btn-outline-secondary">
                  <i class="fas fa-trash"></i> Delete
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-center">
          {% load static %}

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-12">
                {% if post.cover %}
                  <img src = "{{post.cover.url}}" alt="image" width="1020">
                {% else %}
                  <img src = "https://via.placeholder.com/468x60r" alt="image" width="1020">
                {% endif %}

              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-12">
              {{postform.title}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                {{postform.text}}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-4">
              {{postform.cover}}
              </div>
              <div class="form-group col-6">
              {{postform.author}}
              </div>
              <div class="form-group col-2">
              {{postform.status}}
              </div>
            </div>
            <button type="submit" class="btn btn-outline-primary" name="add_post">
              <i class="fas fa-plus-square"></i> Save Post
            </button>
            <button type="clear" class="btn btn-outline-primary">
              <i class="fas fa-plus-square"></i> Delete
            </button>
            <button type="clear" class="btn btn-outline-primary">
              <i class="fas fa-plus-square"></i> Cancel
            </button>
          </form>

        </table>
      </div>
    </div>
  </div>
</div>
