{% load static %}

<h1>Featured Articles</h1>
<b-carousel id="carousel1"
      controls
      indicators
      :interval="4000"
      v-model="slide"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
>
  <b-carousel-slide >
    <img slot="img" class="d-block img-fluid w-100 img-blur" width="1024" height="480"
         src="https://picsum.photos/1024/480/?random" alt="image slot">
    <b-container class="caption p-2">
      <h4 class="text-left">
        <b-link class="text-white"><b>How drug dealers in the jungles of Southeast Asia made millions going continent-wide</b></b-link>
      </h4>
      <h6 class="text-left">
        <b-link class="text-white"> <i>By Kyle Aquino</i> </b-link>
      </h6>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eros felis, tincidunt a tincidunt eget, convallis vel est. Ut pellentesque
        ut lacus vel interdum.
      </p>
    </b-container>
  </b-carousel-slide>
  <b-carousel-slide >
    <img slot="img" class="d-block img-fluid w-100 img-blur" width="1024" height="480"
         src="https://picsum.photos/1024/480/?random" alt="image slot">
    <b-container class="caption p-2">
      <h4 class="text-left">
        <b-link class="text-white"><b>How drug dealers in the jungles of Southeast Asia made millions going continent-wide</b></b-link>
      </h4>
      <h6 class="text-left">
        <b-link class="text-white"> <i>By Kyle Aquino</i> </b-link>
      </h6>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eros felis, tincidunt a tincidunt eget, convallis vel est. Ut pellentesque
        ut lacus vel interdum.
      </p>
    </b-container>
  </b-carousel-slide>
  <b-carousel-slide >
    <img slot="img" class="d-block img-fluid w-100 img-blur" width="1024" height="480"
         src="https://picsum.photos/1024/480/?random" alt="image slot">
    <b-container class="caption p-2">
      <h4 class="text-left">
        <b-link class="text-white"><b>How drug dealers in the jungles of Southeast Asia made millions going continent-wide</b></b-link>
      </h4>
      <h6 class="text-left">
        <b-link class="text-white"> <i>By Kyle Aquino</i> </b-link>
      </h6>
      <p class="text-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        eros felis, tincidunt a tincidunt eget, convallis vel est. Ut pellentesque
        ut lacus vel interdum.
      </p>
    </b-container>
  </b-carousel-slide>
</b-carousel>
