{% load static %}

<h3>Top Stories</h3>
<b-list-group>
  <b-list-group-item href="#" active class="flex-column align-items-start">
    <h5 class="mb-1"><b>Asia Meth Crisis</b></h5>
    <small>By Kyle Aquino</small>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas
      sed diam eget risus varius blandit.
    </p>
  </b-list-group-item>
  <b-list-group-item href="#" class="flex-column align-items-start">
    <h5 class="mb-1"><b>Asia Meth Crisis</b></h5>
    <small>By Kyle Aquino</small>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas
      sed diam eget risus varius blandit.
    </p>
  </b-list-group-item>
  <b-list-group-item href="#" class="flex-column align-items-start">
    <h5 class="mb-1"><b>Asia Meth Crisis</b></h5>
    <small>By Kyle Aquino</small>
    <p class="mb-1">
      Donec id elit non mi porta gravida at eget metus. Maecenas
      sed diam eget risus varius blandit.
    </p>
  </b-list-group-item>
</b-list-group>
