{% load static %}

<h3>Top Stories</h3>
<b-card class="mb-2" title="Card title" sub-title="Card subtitle">
    <p class="card-text">
        Some quick example and make up the bulk of the card's content.
    </p>
    <b-link href="#" class="card-link">Read More</b-link>
</b-card>
<b-card class="mb-2" title="Card title" sub-title="Card subtitle">
    <p class="card-text">
        Some quick example text to build on the <em>card title</em>
        and make up the bulk of the card's content.
    </p>
    <b-link href="#" class="card-link">Read More</b-link>
</b-card>
